::[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"

[packages]
numpy = "*"
sympy = "*"
scipy = "*"
mpi4py = "*"
cython = "*"
scalapy = {path = "./../scalapy"}
termcolor = "*"
nose = "*"

[requires]
python_version = "3.7"
